@font-face {
    font-family: "Chicken-Quiche";
    src: url("assets/Chicken\ Quiche.otf");
}
@keyframes font-color-animation {
    0% {color:rgb(204, 0, 255);}
    25.0% {color: mediumslateblue;}
    50.0% {color: rgb(0, 109, 128);}
    100.0% {color: rgb(121, 218, 112);}

    
}
@font-face {
    font-family: "Chicken-Quiche";
    src: url("assets/Chicken\ Quiche.otf");
}


@keyframes width-animation {
    from{
        width: 100px;
    } to {
        width: 400px;
    }
}

@keyframes change-color2 {
    0%{background: yellow ;}
    50.0%{background: turquoise;}
    100.0%{background: orangered;}
}


.rect {
    width: 100px;
    height: 100px;
    animation: width-animation 0.5s infinite alternate ;
    background-color: rgb(251, 255, 0);
}
#green {
    border: 5px solid #02222e;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    font-weight: 200;
    padding: 10px;
}
body {
    margin: 2cm;
    background: linear-gradient(45deg, blue, red);
    background-color: rgb(236, 245, 243);
}
h1{
    font-size: 90px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 10px;
    transition: all 0.6s;
    animation: change-color2 1s infinite alternate;
    text-shadow:5px 5px 5px yellowgreen;

}
h1:hover{
    color: rgb(238, 223, 17);
    filter: blur(0px)
    

}

.beautiful-element {
    color: rgb(0, 0, 0);
 font-size: 20px;
 font-family:"Chicken-Quiche";
 margin: 20px;
}

.image {
    width: 30%;
    margin: 20px;
    padding-bottom: 20px;
    display: block;
    box-shadow: 10px 10px 10px rgb(169, 253, 1);
    border-radius: 10%;
}
.image img{
    width: 80%;

}
.gallery {
    display: flex;

}
.item{
    flex: 1;
}

.item img{
    width: 100%;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(169, 253, 1);
    border-radius: 10%;
    margin: 20px;
    display: block;
    
}
.headline {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 5;
    color: lightslategray;
    top: 100px;
    left: 50px;
    animation: color-animation 0.7s infinite alternate;
}
.headline:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50pt;
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 5;
    color: rgb(6, 48, 90);
    top: 100px;
    left: 50px;
 }